header h1 {
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 60px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}
h2 {
  color: black;
  padding: 5px;
  font-size: 20px;   
}
body {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightblue;
  border-style: solid;
  border-color: #000000;
  justify-content: center; 
}

nav li {
  float: center; 
  
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

nav li a:hover:not(.active) {
  background-color: rgba(0, 0, 0, 0.2);
}

nav li.active {
  background-color:#04AA6D;
}

figure {
  /* width: 300px;
  height: 300px; */
  transition:transform 2s;
}

figure:hover {
  /* transition: width 2s, height 2s, transform 2s;
  transform: rotate(180deg); */
  transform: rotate(180deg);
}